
* {
    box-sizing: border-box;
    margin: 0; 
}

#encabezado {
    position: absolute;
    top: 0;
    left: 0;
    height: 8%;
    width: 100%;
    background-color: blue;
    color: white;
}

#encabezado h1 {
    display: inline;
}

#menu {
    position: absolute;
    top: 8%;
    left: 0%;
    height: 4%;
    width: 100%;
    background-color: black;
    color: white;
}

#barralateral {
    position: absolute;
    top: 12%;
    left: 0;
    height: 81%;
    width: 20%;
    background-color: #00FFA0;
    padding: 10px;
}

#contenido {
    position: absolute;
    top: 12%;
    left: 20%;
    height: 81%;
    width: 80%;
    background-color: lightgrey;
    padding: 10px;
}

#piepagina {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4%;
    width: 100%;
    background-color: cyan;
    text-align: center;
}

/*.header {
    width: 100%;
    height: fit-content;
    background: gainsboro;
    color: black;
    padding: 10px;
}*/

/*.nav {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}*/